@import url('https://fonts.googleapis.com/css2?family=Cuprum:wght@400;600&display=swap');
@import "reset.css";
@import "status-bar.css";
@import "variables.css";
/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
/* Screens */
@import "screens/login.css";
@import "screens/friends.css";

body {
    font-family: 'Cuprum', sans-serif;
    background-color: var(--main-color);
    color: var(--sub-color);
    height:3000px;
}