
.welcome-header {
    margin-top: 150px;
    margin-bottom: 45px;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-weight: 600;
}

.welcome-header__title {
    margin-bottom: 45px;
    font-size: 36px;
    text-shadow: 1px 2px #58B19F;
    opacity: 100%;
    color: var(--sub-color);
}

.welcome-header__text {
    font-size: 16px;
    color: var(--sub-text-color);
}

#login-form {
    display: flex;
    flex-direction: column;
    margin: 0px 120px;
}

#login-form input {
    border: none;
    padding: 25px 10px;
    background-color: var(--main-color);
    font-size: 16px;
    /* margin-bottom: 5px; */
    color: var(--sub-text-color);
}

#login-form input:not([type="submit"]) {
    border-bottom: 0.5px solid var(--sub-text-color);
    transition: border-color 0.2s ease-in-out;
}

#login-form input::placeholder {
    color: var(--sub-color);
    opacity: 50%;
}

#login-form input:focus {
    border-color: var(--sub-color);
}

#login-form input[type="submit"] {
    margin-top: 30px;
    cursor: pointer;
    background-color: var(--sub-color);
    color: var(--main-color);
    border-radius: 50px;
}

#login-form a {
    margin-top: 18px;
    text-align: center;
    text-decoration: none;
    color: inherit;
    font-size: 12px;
}